.page-container {
  padding: 0 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 16px;
  margin-left: -20px;
  margin-right: -20px;
}

.logo {
  margin: 0;
  font-size: 28px;
  cursor: pointer;
  width: 130px;
}

.header-container {
  margin-bottom: 8px;
}

.header-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.logout-button {
  width: 130px;
  text-align: right;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: default;
}

.post-header__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-header__user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
}

.post-image-container {
  margin-left: -20px;
  margin-right: -20px;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
}

.post-image {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
}

.post-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-button {
  border: none;
  background-color: transparent;
  padding: 8px;
  padding-left: 0;
  padding-bottom: 5px;
  cursor: pointer;
}

.user-name {
  font-weight: 500;
}

.post-text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.post-date {
  color: #8a8a8a;
}

.post + .post {
  margin-top: 20px;
}

.posts-user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  cursor: default;
}

.posts-user-header__user-info {
  display: flex;
  flex-direction: column;
  /*align-items: center;
  cursor: pointer;*/
}

.posts-user-header__user-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
}

.posts-user-header__user-name {
  font-size: 28px;
  line-height: 35px;
}

.posts-user-header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

.posts-user-header__menu-sign {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 342.382 342.382' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219 c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath d='M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219 c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath d='M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219 c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 24px;
  width: 24px;
}

.posts-user-header__menu-delete {
  display: none; /* Hidden by default */
  position: absolute;
  /*border: 0;*/
  /*background-color: #ffffff;
  min-width: 85px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  margin: 32px 0;
  z-index: 1;
}

.loading-page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.add-post-sign {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3E%3Ctitle%3Eadd%3C/title%3E%3Cpath d='M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM88.6,56.82v9.24a4,4,0,0,1-4,4H70V84.62a4,4,0,0,1-4,4H56.82a4,4,0,0,1-4-4V70H38.26a4,4,0,0,1-4-4V56.82a4,4,0,0,1,4-4H52.84V38.26a4,4,0,0,1,4-4h9.24a4,4,0,0,1,4,4V52.84H84.62a4,4,0,0,1,4,4Zm8.83-31.37a50.92,50.92,0,1,0,14.9,36,50.78,50.78,0,0,0-14.9-36Z'/%3E%3C/svg%3E");
  height: 30px;
  width: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-error {
  color: red;
}

.form-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-footer-title {
  text-align: center;
}

.file-upload-image-container {
  display: flex;
  align-items: center;
}

.file-upload-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.file-upload-label {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
